@font-face {
  font-family: 'Followers';
  src: url('../fonts/FontsFree-Net-Followers.woff2') format('woff2'),
       url('../fonts/FontsFree-Net-Followers.woff') format('woff');
       font-weight: normal;
}